.App {
  /* text-align: center;
  height: 100%; */
  display: flex;
}


.App-header {
  background-color: #282c34;
  max-width: 15%;
  height: inherit;
  display: block;
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the links inside the navigation bar */
.nav li {
  padding: 20px;
  background-image: url('./redribbon.png');
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-y: center;
  box-sizing: border-box;
}

.nav a {
  color: #f2f2f2;
  text-align: initial;
  padding: 20px;
  text-decoration: none;
  font-size: 24px;
  font-size: calc(10px + 2vmin);
}

/* Change the color of links on hover */
.nav a:hover {
  color: gray;
}

/* Add a color to the active/current link */
.nav a.active {
  color: #282c34;

}

.logo {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}